black==19.3b0
isort==4.3.21
iopath
fairscale
# ffcv
flake8
pyyaml
matplotlib
numpy
opencv-python
parameterized
setuptools
simplejson
submitit
yacs
yattag
torch==1.10.0
torchvision==0.11.1
tensorflow
tensorboard-logger
onnx
